#text{
	width: 500px;
	height: 660px;
	background-color: #065088;
	margin-right: 150px;
	margin-left: 200px;
	text-align: center;
  border-radius: 10px;
}

/*body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #d85230;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #df4936;
}

.container {
  border-radius: 5px;
  background: rgba(37, 17, 17, 0.5);
  padding: 20px;
}