body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #153b47;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 30%;
  left: 35%;
  background-color: #191919; 
  text-align: center;
}
.box h1{
   color: white;
  text-transform: uppercase;
  font-weight: 200px;
  font-size: 20px;
}

.box input[type = "submit"]{
   border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid  #2ecc71;
  padding: 14px 34px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

}

.box a{
  text-decoration: none;
}
